In [1]:
from datetime import datetime

import datetime as dt
from datetime import date, timedelta

import matplotlib
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sb
import csv

In [2]:
df = pd.read_csv('RS_newFile.txt')
df

                     Date Time doy height SZA RS
0           yyyy-mm-dd hh:mm:ss doy deg deg W/m2
1         2009-01-01 00:00:00 1 -70.53 160.53 NA
2         2009-01-01 00:10:00 1 -70.35 160.35 NA
3         2009-01-01 00:20:00 1 -69.96 159.96 NA
4         2009-01-01 00:30:00 1 -69.37 159.37 NA
...                                          ...
730243  2022-12-31 23:10:00 365 -68.27 158.27 NA
730244  2022-12-31 23:20:00 365 -69.11 159.11 NA
730245  2022-12-31 23:30:00 365 -69.78 159.78 NA
730246  2022-12-31 23:40:00 365 -70.25 160.25 NA
730247  2022-12-31 23:50:00 365 -70.52 160.52 NA

[730248 rows x 1 columns]

In [3]:
file = 'RS_newFile.txt'

In [4]:
data = csv.reader(open('RS_newFile.txt', 'r'), delimiter=" ", quotechar='|')
column1, column2, column3, column4,column5,column6 = [],[],[],[],[],[]

for row in data:
    column1.extend([row[0]])
    column2.extend([row[1]])
    column3.extend([row[2]])
    column4.extend([row[3]])
    column5.extend([row[4]])
    column6.extend([row[5]])

In [5]:
del column1[:2],column2[:-2],column3[:2],column4[:2],column5[:2],column6[:2]

In [6]:
column1[:4]

['2009-01-01', '2009-01-01', '2009-01-01', '2009-01-01']

In [7]:
new6 = column6
new6=['nan' if x == 'NA' else x for x in new6]
column6 = new6

In [8]:
new6 = np.array(new6)
new6.astype(float)

array([nan, nan, nan, ..., nan, nan, nan])

In [9]:
col1,col2,col3,col4,col5,col6 = np.array(column1),np.array(column2),np.array(column3),np.array(column4),\
np.array(column5),np.array(column6)

print(type(col1[0]))
print(type(col2[0]))
print(type(col3[0]))
print(type(col4[0]))
print(type(col5[0]))
print(type(col6[0]))


col1 = col1.astype('datetime64',copy=False)
#col2 = col2.astype('datetime64',copy=False)      # EXPLOTA GUIONS VS COMES I +...
col3 = col3.astype(int,copy=False)
col4 = col4.astype(float,copy=False)
col5 = col5.astype(float,copy=False)
col6 = col6.astype(float,copy=False)

print("\n")
print(type(col1[0]))
print(type(col2[0]))
print(type(col3[0]))
print(type(col4[0]))
print(type(col5[0]))
print(type(col6[0]))

<class 'numpy.str_'>
<class 'numpy.str_'>
<class 'numpy.str_'>
<class 'numpy.str_'>
<class 'numpy.str_'>
<class 'numpy.str_'>


<class 'numpy.datetime64'>
<class 'numpy.str_'>
<class 'numpy.int32'>
<class 'numpy.float64'>
<class 'numpy.float64'>
<class 'numpy.float64'>

In [10]:
np.shape(col1)

(730247,)

In [11]:
np.shape(col2)

(2,)

In [12]:
np.shape(col5)

(730247,)

In [13]:
sza = col5
sza[sza >= 87] = np.nan

In [14]:
tup = np.array(list(zip(col3,sza)))

In [15]:
tup

array([[  1.,  nan],
       [  1.,  nan],
       [  1.,  nan],
       ...,
       [365.,  nan],
       [365.,  nan],
       [365.,  nan]])

In [16]:
# Fer array de daytime amb sza list of tuples o separats PROVAR
#tuple_list_daytime_sza = [(,),(,)...(,)]
#daytime = ['','',]
#sza = [nan,nan,...,valors,.. nan, nan]

 
def I0_10min(tup):
    Isc = 1367
    llista = []
    llista2 =[]
    llista = np.array(llista)
    llista2 = np.array(llista2)
    
    for day,sza in tup:
        gamma = 2*np.pi*(day-1)/365
        E0 = 1.000110 + 0.034221*np.cos(gamma) + 0.001280*np.sin(gamma) + 0.000719*np.cos(2*gamma) + 0.000077*np.sin(2*gamma)
        sza_rad = np.deg2rad(sza)
        I0 = Isc*(E0**-2)*np.cos(sza_rad)
        llista = np.append(llista,I0)
    return llista,llista2

In [17]:
uu = I0_10min(tup)

In [ ]:
uu

In [100]:
a[:100]

DatetimeIndex(['2023-03-18 23:40:00', '2023-03-18 23:50:00'], dtype='datetime64[ns]', freq=None)

In [125]:
caca = []
caca = np.array(caca)
caca = np.append(caca,[1])
print(caca)

[1.]